.but{
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.login{
    background-color: white;
    color: green;
    border-color: green;
    border-radius: 5px;
    padding: 5px 20px;
    cursor: pointer;
    margin-left: 150px;
    margin-top: 10px;
}

.sign{
    background-color: green;
    color: white;
    border-color: green;
    border-radius: 5px;
    padding: 5px 20px;
    cursor: pointer;
    margin-left: 15px;
    margin-top: 10px;

}

.topnav{
    padding: 10px;
}

.foodhead{
    color: green;
}

.toppicks{
    color: white;
    font-size: 10px;
    margin-left: 10px;
    border-radius: 10px;
    background-color: green;
    padding: 2px;
    width: fit-content;
    height: 20px;
}

.menuitems{
    padding: 20px;
    background-color: #f2f2f2;
    width: 100%;
}

.card{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    width: 400px;
    height: 450px;
}

.card img{
    border-radius: 10px;
    margin-bottom: 15px;
    height: 200px;
}

.cardbtn{
    margin-top: 50px;
    color: green;
    font-weight: bold;
}

.cardbtn button{
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.butt{
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    padding-right: 50px;
}

.icon{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

h1{
    font-size: 25px;
    padding: 5px;
}

titlehead{
    padding: 10px;
}

.footer{
    background-color: darkblue;
    padding: 10px;
    padding-bottom: 0px;
    font-size: 14px;
    color: white;
}

.searchbar{
    padding: 5px;
}

input{
    margin-top: 10px;
    height: 20px;
    width: 300px;
    border-color: aliceblue;
    border: 1px solid gray;
    padding: 10px;
}

.searchbarpara{
    margin-top: 0px;
    color: gray;
    margin-left: 10px;
}  

.searchbarinput{
    border: 1px solid gray;
    padding: 0px;
    width: 300px;
    border-radius: 5px;
    height: 30px;
    margin-top: 10px;
}
